DB_HOST=mysql.metropolia.fi # or localhost if using local database
DB_USER=blank # replace with your database user name
DB_PASSWORD=blank # replace with your database user password
DB_NAME=blank # replace with your database name